html, body {
  height: 100%;
  width: 100%;
  background: #000;
}

body {
	padding: 0;
	margin: 0;
	background-image: url('https://s27.postimg.org/4qqja3f8j/backgr.jpg');	
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.window {
  width: 400px;
  height: 400px;
  background: #a0d5d3;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  margin-top: -60px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 10px solid #f8e7dc;
  overflow: hidden;
}


#canvas {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	margin: auto;
}
